/** CSS reset **/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  min-height: 100svh;
}

body {
  line-height: 1.658;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  line-height: 1.5;
}

/** General styles **/

:root {
  font-size: 15px;

  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4.87rem;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 0.995rem;
  padding: 5.6rem 2.15rem 2rem;
  color: var(--grayish-blue);
  background-color: var(--very-light-gray);
}

@media (min-width: 600px) {
  body {
    gap: 4.1rem;
    padding: 5.4rem 2.2rem 2rem;
  }
}

/** Header **/

.header {
  max-width: 300px;
  text-align: center;
}

.header__title {
  font-size: 1.63rem;
  font-weight: 200;
  color: var(--very-dark-blue);
  margin-bottom: 1rem;
}

@media (min-width: 600px) {
  .header {
    max-width: 550px;
  }

  .header__title {
    font-size: 2.43rem;
    line-height: 1.4;
    margin-bottom: 1.13rem;
  }
}

.header__title #one::after,
.header__title #two::after {
  content: "\A";
  white-space: pre;
}

.header__title #two {
  font-weight: 900;
}

.header__description {
  font-weight: 400;
  letter-spacing: 0.1px;
}

/** Grid **/

.grid {
  display: grid;
  width: 100%;
  gap: 1.6rem;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}

@media (min-width: 800px) {
  .grid {
    max-width: 74rem;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "... two ..."
      "one two four"
      "one three four"
      "... three ...";
  }

  .grid > :nth-child(1) {
    grid-area: one;
  }

  .grid > :nth-child(2) {
    grid-area: two;
  }

  .grid > :nth-child(3) {
    grid-area: three;
  }

  .grid > :nth-child(4) {
    grid-area: four;
  }

  .attribution {
    margin-top: auto;
  }
}

/** Cards **/

.grid__card {
  padding: 1.5rem 1.87rem 1.8rem;
  border-radius: 0.6rem;
  border-top: 0.35rem solid;
  background-color: #fff;
  box-shadow: 0 1rem 1.5rem -0.5rem #c6d6e5;
}

.grid__card h2 {
  font-size: 1.33rem;
  color: var(--very-dark-blue);
  margin-bottom: 0.25rem;
}

.grid__card p {
  font-size: 0.825rem;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.4px;
  margin-bottom: 2.22rem;
}

.grid__card img {
  height: 57px;
  width: auto;
  float: right;
}

.grid > :nth-child(1) {
  border-color: var(--cyan);
}

.grid > :nth-child(2) {
  border-color: var(--red);
}

.grid > :nth-child(3) {
  border-color: var(--orange);
}

.grid > :nth-child(4) {
  border-color: var(--blue);
}

@media (min-width: 800px) {
  .grid__card {
    padding: 1.75rem 2.1rem 1.728rem;
  }

  .grid__card h2 {
    margin-bottom: 0.6rem;
    font-size: 1.32rem;
  }

  .grid__card p {
    margin-bottom: 3.05rem;
    line-height: 1.862;
    font-size: 0.82rem;
  }

  .grid__card img {
    height: 64px;
    width: auto;
    transform: translate(0, -6px);
  }
}

/** Attribution **/

.attribution {
  font-size: 1.4rem;
  text-align: center;
}

.attribution a {
  font-weight: 400;
  text-decoration: none;
  color: var(--grayish-blue);
  transition: all ease 0.2s;
}

.attribution a:is(:hover, :focus) {
  color: var(--very-dark-blue);
}

@media (min-width: 800px) {
  .attribution {
    margin-top: auto;
    padding-top: 0.8rem;
  }
}
